.btn {
	font-size: 24px;
	font-weight: var(--fw-b);
	padding:0.5em 1.5em;
	border: none;
	cursor: pointer;
	transition: 450ms ease-out;
}

.btn.primary {
	background-color: var(--prime-blue);
	color: var(--prime-white);
}

.btn.primary:hover {
	box-shadow: inset 0 0 0 6px var(--prime-blue);
	background-color: var(--prime-white);
	color: var(--prime-blue);
}

.btn.primary.disable {
	background-color: var(--prime-lightblue);
	pointer-events: none;
}
