.form {
	display: grid;
	grid-template-columns: 1fr;
}

.form .first-four {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
}

.form label {
	display: flex;
	flex-direction: column;
}

.form input {
	border-radius: 3px;
	border: 3px solid var(--prime-blue);
	font-size: 1.3em;
	padding: 0.2em;
}

.form input.notValid {
	border: 2px solid red;
}
.form .errorText {
	color: red;
}

.form button.disable {
	background-color: royalblue;
	pointer-events: none;
}