.right-container{
	/* box-shadow: 0 0 0 6px var(--prime-blue); */
	display: grid;
	padding: 1em;
	grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
	place-items: center;

	gap: 30px;
	overflow: scroll;
	transition: 450ms ease-out;
}

.right-container:hover {
	box-shadow: 0 0 0 6px var(--prime-blue);
}

.right-container.bg {
	background-image: url(../../img/main-bg.png);
	background-size: min(90%);
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: 0 0 0 0px var(--prime-blue);
}

/* gallery / battle */
/* padding last image not there */