.left-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em;
}

.left-container span {
	font-size: clamp(48px, 10vw, 96px);
}

.left-container h1 {
	font-size: clamp(72px, 14vw, 144px);
	line-height: 85%;
	font-weight: 900;
}

h3 {
	font-size: 32px;
	font-weight: 900;
}

.left-container p {
	width: clamp(20ch, 90%, 75ch);
}

.left-container .btn-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

.left-container .btn {
	font-size: 24px;
	font-weight: 900;
	padding:0.5em 1.5em;
	border: none;
	cursor: pointer;
	transition: 450ms ease-out;
}

.left-container .btn.prime {
	background-color: var(--prime-blue);
	color: white;
}
.left-container .btn.prime {
	background-color: var(--prime-blue);
	color: white;
}

.left-container .btn.prime:hover {
	box-shadow: inset 0 0 0 6px var(--prime-blue);
	background-color: white;
	color: var(--prime-blue);
}

.left-container .btn.sec {
	box-shadow: inset 0 0 0 6px var(--prime-blue);
	background-color: white;
}

.left-container .btn.sec:hover {
	box-shadow: inset 0 0 0 0px var(--prime-blue);
	background-color: var(--prime-blue);
	color: white;
}