.left-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em;
}

.left-container span {
	font-size: clamp(64px, 10vw, 96px);
	/* font-size: clamp(48px, 10vw, 96px); */
}

.left-container h1 {
	font-size: clamp(72px, 12vw, 144px);
	/* font-size: clamp(72px, 14vw, 144px); */
	line-height: 85%;
	font-weight: 900;
}

.left-container h3 {
	font-size: 32px;
	font-weight: 900;
}

.left-container p {
	margin-top: 0.8em;
	width: clamp(20ch, 80%, 75ch);
	line-height: 1.4em;
}

.left-container .btn-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}