.btn {
	font-size: 24px;
	font-weight: var(--fw-b);
	padding:0.5em 1.5em;
	border: none;
	cursor: pointer;
	transition: 450ms ease-out;
}

.btn.secondary {
	box-shadow: inset 0 0 0 6px var(--prime-blue);
	background-color: var(--prime-white);
}

.btn.secondary:hover {
	box-shadow: inset 0 0 0 0px var(--prime-blue);
	background-color: var(--prime-blue);
	color: var(--prime-white);
}

.btn.secondary.disable {
	box-shadow: inset 0 0 0 6px var(--prime-lightblue);
	pointer-events: none;
	color: var(--prime-lightblue);
}

.btn.secondary.width {
	margin-top: 0.1em;
	width: 100%;
	grid-column: 1 / -1;
}

.btn.secondary.start-match, .btn.secondary.upload {
	margin-top: 0.1em;
	grid-column: 1 / -1;
}