/* Page layout css */
.App.grid-container {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
	grid-template-rows: minmax(80px, auto) 1fr;
}
/* page header */
.App .header {
	grid-column: 2 / 3;
	/* ändra till grid? */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
	column-gap: 2em;
	
	padding: 1em;
	text-transform: uppercase;
}

.App .header h1 {
	font-size: 24px;
	font-weight: var(--fw-b);
	color: var(--prime-black);
}

@media only screen and (max-width: 620px) {
	.App .header {
		justify-content: center;
	}
}

/* page main */
.App .page-main {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	align-self: center;
}
