:root {
/* Text */
--fw-n: 400;
--fw-m: 700;
--fw-b: 900;

/* Colours */
	--prime-blue: #4691FF;
	--prime-lightblue: #88B8FF; 
	--prime-purple: #DEB4FF;
	--prime-black: #202124;
	--prime-white: white;
	--prime-red: red;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--prime-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
